
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <app-navbar></app-navbar>
            </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID </th>
                        <th scope="col">NAME</th>
                        <th scope="col">ORIGIN</th>
                        <th scope="col">DESTINATION</th>
                        <th scope="col">CAPACITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of flightData">
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.origin}}</td>
                        <td>{{i.destination}}</td>
                        <td>{{i.capacity}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>